<mat-sidenav-container fullscreen>
    <mat-sidenav [mode]=push #sidenav opened [autoFocus]=false [opened]=false>
        <my-magic-type-list (click)="sidenav.toggle()"></my-magic-type-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row class="mat-elevation-z8">
                <button mat-flat-button color="primary" (click)='sidenav.toggle()'>
                    <mat-icon matBadgeColor="warn">menu</mat-icon>
                </button>
                <a [routerLink]="['/cards',value]">{{ title }}</a>
            </mat-toolbar-row>
        </mat-toolbar>
        <my-magic-card [id]="query" *ngIf="query && -1 !== query.indexOf('-'); else cardList"></my-magic-card>
        <!-- j'affiche magic-card en lui passant query par id si query est un chiffre,
        sinon affiche #cardlist -->
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #cardList>
    <my-magic-card-list  (onLoadCards)="toggleLoading()"  (onBeforeCards)="toggleLoading()" [type]="query"></my-magic-card-list>
    <div class="loading-indicator" *ngIf="isLoading">
        <mat-progress-spinner  mode="indeterminate" color="accent"></mat-progress-spinner>
      </div>
    <!-- affiche card-list en lui envoyant query par type -->
</ng-template>